body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 10%;
    margin-left: 100px;
}

.playlist {
    width: 50%;
    background-color: darkviolet; 
    padding: 20px; 
    border-radius: 50px; 
    border: 3px solid #ccc;
}

.add-song {
    width: 35%;
    background-color: green; 
    padding: 50px; 
    border-radius: 50px; 
    border: 3px solid #ccc;
}

h2 {
    text-align: center;
}

.search-bar,
#song-title,
#artist-name {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #444;
    color: white;
}

.song {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.song-title {
    font-weight: bold;
}

.artist-name {
    display: block; 
    font-size: 0.9em; 
    color: #c5baba; 
}

button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

button:hover {
    background-color: red;
}
#add-button {
    background-color: blue; 
    color: white; 
    border: none; 
    padding: 8px 15px; 
    border-radius: 5px; 
    cursor: pointer; 
}

#add-button:hover {
    background-color: darkblue; 
}
.add-song {
    display: flex; 
    flex-direction: column; 
}

#add-button {
    align-self: center; 
    margin-top: 10px; 
}